@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Helvetica';
    margin: 0;
    padding: 0;
}

.box {
    background: linear-gradient(to bottom, white, rgb(147, 147, 147));
    height: 100%;
    width: 100%;
}

.nav-bar {
    display: flex;
    justify-content: space-evenly;
}

.logo {
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 0.8rem;
    display: flex;
    justify-content: center;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 1rem;
}

 .opts {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 7rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;
}

.opts:hover {
    background-color: black;
    color: white;
}

.display {
    display: flex;
    justify-content: space-evenly;
}

.display img {
    transition: all 0.3s;
    transform: rotateZ(-30deg);
}

.display-text {
    margin-top: 9rem;
    margin-left: -3rem;
}

.display-text h1 {
    font-size: 3rem;
}

.display-text h2 {
    font-size: 2rem;
    margin-top: 0.8rem;
    font-weight: 300;
}

.display-text p {
    margin-top: 1.5rem;
    font-size: 0.9rem;
    color: rgb(103, 102, 102);
}

.display-text button {
    margin-top: 2rem;
    width: 17rem;
    height: 4rem;
    border: none;
    border-radius: 4rem;
    border-top-left-radius: 0px;
    background-color: rgba(0, 0, 0, 0.9);
    color: whitesmoke;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s;
}

.display-text button:hover {
    background-color: black;
}

.short-containers{
    display: flex;
    gap: 2rem;
    margin-top: -8.5rem;
    margin-left: 10rem;
    padding-bottom: 6rem;
}

.container {
    height: 7rem;
    width: 16rem;
    background-color: whitesmoke;
    border: none;
    border-radius: 1rem;
    --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);    
}